{% extends "base.html" %}
{% block content %}
<img src="../static/Img.png" class="rounded mx-auto d-block img-fluid" alt="...">
<div class="container-fluid" style="background-color: #cff4fc; padding: 4rem 2rem;  border-radius:0.3rem">
    <h1 class="text-center">Welcome to Inventory Management System</h1>
    <p class="text-center">This is a web application that helps to manage inventory of products in respective warehouses.</p>
    <p class="text-center">It allows you to create, edit, view products and locations, make products movements, and get produce balance in each location.</p>
  </div>
{% endblock %}
